div.top
{
	width:100%;
	height:40px;
	background-color:#C0C0C0;

}
	
div.top table
{
	font-size:30px;
	width:100%
}

div.top table tr td
{
	color:#FF1493;
	text-align:center
}

div.logo
{
	padding:50px;
	width:500px;
	height:500px;
}

div.logo img
{
	width:500px;
	height:500px;
	position:absolute;
	left:30%;
}



div.cakes
{
	background-color:#ffb3d9;
	width:100%;
	height:300px;
}

div.cookies
{
	background-color:#99ffe6;
	width:100%;
	height:300px;
}

div.brownies
{
		background-color:#e6ff99;
		width:100%;
	height:300px;
}