#logo
{
	width:130px;
	height:130px;
}

#contents
{
	float:right;
	width:900px;
	font-size:30px;
	height:100px;
    font-family: Verdana, Geneva, sans-serif;
}
a
{
	color:#ed66cb;
}

a:hover
{
	color:skyblue;
}

#quote
{
	text-align:center;
	padding:100px 100px 100px 50px;
	width:50%;
	font-size: 100px;
	font-style: italic;
	font-weight: 20px;
}
#about
{
	color:black;
	font-size:30px;
	font-family:Verdana, Geneva, sans-serif;
}
#pic1
{
	float:right;
	width:30%;
	height:550px;
	padding-right:100px;
}
.container {
	position: relative;
	float:left;
	width:250px;
	height:450px;
	padding-top:50px;
	padding-left:12px;
}

.image {
  opacity: 1;
  display: block;
  width: 250px;
  height: 400px;
}

.middle {
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image 
{
  opacity: 0.3;
}

.container:hover .middle 
{
  opacity: 1;
}

.text 
{
  background-color: skyblue;
  color: #ed66cb;
  font-size: 25px;
  padding: 16px 32px;
}
.gottopage
{
	text-align:center;
	font-weight: 20px;
	font-size:40px;
	padding-bottom:50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#statsdiv
{
	background-image:url('confettii.jpg');
}
#stats
{
	width:100%;
	padding:50px 0px 50px 0px;
	margin-top:50px;
}

#stats tr
{
	height:100px;
	text-align:center;
	font-size:40px;
}

.numb
{
	color:red;
	font-size:50px;
}

#order
{
	float:left;
	width:50%;
}

.order_slide
{
	width:auto;
	height:300px;
	margin-top:50px;
	margin-bottom:50px;
	float:left;
}

.mySlides1
{
	width:400px;
	height:400px;
	padding-left:50px;
}

.order
{
	margin-top:100px;
	float:right;
	width:50%;
	height:400px;
	text-align:center;
	padding-right:100px;
}

.sml
{
	width:30%;
	height:auto;
	margin-top:5%;
	margin-left:35%;
}
	
#blink
{
	animation:blinkingText 2s infinite;
	margin-top:150px;
	font-size:40px;
}

@keyframes blinkingText{
    0%{     color: red;    }
	20%{    color: orangered; }
	30%{    color: rgb(255, 102, 0);}
	50%{    color: transparent; }
	75%{    color:orange}
    95%{    color: yellow;  }
    100%{   color: rgb(255, 252, 47);    }
}