#logo
{
	width:130px;
	height:130px;
}

#contents
{
	float:right;
	width:900px;
	font-size:30px;
	height:100px;
    font-family: Verdana, Geneva, sans-serif;
}
a
{
	color:#ed66cb;
}

a:hover
{
	color:skyblue;
}

.dessert img
{
	width:25%;
	height:80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.425), 0 6px 20px 0 rgba(0, 0, 0, 0.76);
	margin: 70px 0px 30px 150px;
}

.table
{
	margin-top:70px;
	float:right;
	height:80%;
	overflow: scroll;
	margin-right: 150px;
}

.table table
{
	font-size:30px;
}


.table tr
{
	height:50px;
}

.table td
{
	padding:10px;
	width:200px;
	text-align:right;
	letter-spacing: 1px;
}

.des
{
	font-size:15px;
	font-style: italic;
}

.table th
{
	letter-spacing: 4px;
}